<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet"><link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
  
        <div id="nav">
            <img src="../images/logo.png" alt="">
          <div id="nav1">  <h6>Deliver to Naman</h6>
            <h4><i class="ri-map-pin-line"></i>Bhopal 462022</h4></div>
            <div id="nav2">
                <h6>All <i class="ri-arrow-down-s-fill"></i></h6>
                <input type="text" placeholder="Search Amazon.in">
                <i class="ri-search-line"></i>
            </div>
            <h5><img src="https://images.emojiterra.com/google/noto-emoji/unicode-15/color/svg/1f1ee-1f1f3.svg" alt="">EN<i class="ri-arrow-down-s-fill"></i></h5>
            <div id="nav3">  <h6>Hello, Naman</h6>
                <h4>Account & Lists<i class="ri-arrow-down-s-fill"></i></h4></div>
                <div id="nav3">  <h6>Returns</h6>
                    <h4>& Orders</h4></div>
    
                        <div id="nav4">
                            <h4> <i class="ri-shopping-cart-line"></i>Cart</h4></div>
    
        </div>
        <div id="navsec">
           <div id="navsec1">
            <h4><i class="ri-menu-fill"></i>All</h4>
            <h4>Amazon miniTV</h4>
            <h4>Sell</h4>
            <h4>Amazon pay</h4>
            <h4>Today's Deal</h4>
            <h4>Buy Again</h4>
            <h4>Best Sellers</h4>
            <h4>Prime<i class="ri-arrow-down-s-fill"></i></h4>
            <h4>Mobile</h4>
            <h4>Customer Service</h4>
            <h4>Gift Cards</h4>
            <h4>Electronics</h4>
           </div>
           <img src="https://m.media-amazon.com/images/G/31/Events/img23/Jupiter23/Homepage/SWM_400x39_Coming_soon._CB578441151_.jpg" alt="">
        </div>
        <div id="main">
            
            <div class="main">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Softlines_JWL_SH_GW_Assets/UNREC/Starting299/Onecardmonthly/Frame_162_3000._CB578490583_.jpg" alt="">
            <div class="box"><h3>Great Indian Festivall | Coming <br>soon</h3>
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/Events/img23/Jupiter23/Homepage/PC_CC_1X._SY304_CB576938243_.jpg" alt=""></div>
            <div class="box"><h3>Cricket Fever Offers</h3>
            <img src="../images/Screenshot 2023-09-26 005217.png" alt=""></div>
            <div class="box"><h3>Get 50% off <br>on Selling fee </h3>
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/amazonservices/landing/atf-2p-18-SEP-50._CB576926068_.jpg" alt=""></div>
            <div class="box"><h3>Top mobile accessories for <br> your smartphone </h3>
            <img src="../images/Screenshot 2023-09-26 004920.png" alt=""></div>
    
            </div>
       <div class="main">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Sports/September/GFD/Hero/under-4999-hero-Sep-GFD_3000x1200-UN-REC._CB578761047_.jpg" alt="">
                </div>
       <div class="main">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/Toys/GW/GW-Hero-PC_BBAug23_Soft-toys_with-Apay_Lifestyle_2x._CB597740150_.jpg" alt="">
                    </div>
                    <div class="main">
                        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Wireless/Shreyansh/BAU/Unrexc/D70978891_INWLD_BAU_Unrec_Uber_PC_Hero_3000x1200._CB594707876_.jpg" alt="">
                        </div> 
       <div class="main">
                            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Softlines_JWL_SH_GW_Assets/UNREC/Sports/Onecardmonthly/Frame_161_3000._CB578492097_.jpg" alt="">
                            </div>
       <div class="main">
                                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/2023/GateWay/September/Unrec/Vehicle_Care-3000-x-1200._CB578643092_.jpg" alt="">
                                </div>
        </div>
        <div id="hero"></div>

    <script src="../javascripts/script.js"></script>
</body>
</html>