*{ 
  margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: gilroy;
}
  html,body{
  height: 100%;
  width: 100%;
}

#nav{
  background-color: #131921;
  height: 58px;
  width: 100%;
  /* position: fixed;
  z-index: 9; */
  display: flex;
  align-items: center;
  padding: 0 15px;
 
}
#nav img {
  height: 45px;
  width: 120px;
  object-fit: cover;
}
#nav1 h4{
  color: white;
  font-weight: 500;
  font-size: 14px;
}
#nav1{
  margin-left: 15px;

}
#nav1 i {
  font-weight: 300;
  font-size: 17px;
}
#nav1 h6{
  font-size: 11px;
 color: rgb(171, 170, 170);
 margin-left: 20px;
 
}
#nav2{
  display: flex;
  align-items: center;
  margin-left: 25px;

}
#nav2 input{
  height: 40px;
  width: 720px;
  border: none;
text-align: center;
}
#nav2 h6{
  padding: 13.6px 15px;
  color: rgb(82, 80, 80);
  font-weight: 300;
  background-color: #D4D4D4;
  border: none;
  border-right: 1px solid gray;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#nav2 h6 i{
  padding: 0;
  background-color: transparent;
  color: rgb(82, 80, 80);

}
#nav2 i{ 
 padding: 11.2px 15px;
  color: #333333;
  background-color: #f7bc6e;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

}
#nav2 i:hover{
  color: #262525;
  background-color: #f2b05a;

}
#nav2 h6:hover{

  color: rgb(40, 39, 39);
  background-color: #afa9a9;
   
}
#nav h5{
  color: white;
  letter-spacing: 2px;
  margin-left: 25px;

}
#nav h5 img {
  height: 20px;
  width: 20px;
  object-fit: cover;

}
#nav3{
  margin-left: 25px;

}
#nav3 h4{
  color: white;
  font-weight: 900;
  font-size: 14.5px;
}
#nav3 i {
  font-weight: 300;
  font-size: 17px;
}
#nav3 h6{
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
 color: white;
 
}
#nav4{
  margin-left: 30px;

}
#nav4 h4{
  color: white;
  font-weight: 500;
  font-size: 14px;
}
#nav4 i{
  font-size: 27px;
  color: white;
}
#navsec{
  height: 40px;
  width: 100%;
  background-color: #232F3E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;

}
#navsec h4 {
  color: #FFFFFF;
  font-size: 14.5px;
  font-weight: 300;
  letter-spacing: 0.3px;
  padding: 9px 5px;
}
#navsec1{
  display: flex;
  align-items: center;
  gap: 6px;
 
}
#navsec img{
  height: 40px;
  width: 400px;
  object-fit: cover;
}
#navsec h4:hover{
  border: 1px solid white;
  
}
#main{
  height: 90vh;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;

}
.main{
  height: 100%;
  width: 100%;
  display: inline-block;
  margin-left: -5px;
  /* white-space: nowrap; */
 
}
.main img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* object-position: center; */
  
}
.box{
  height: 430px;
  width: 350px;
  position: absolute;
  top: 51%;
  left: 2%;
  background-color: #fff;
  
}
.box:nth-child(2){
  height: 430px;
  width: 350px;
  position: absolute;
  top: 51%;
  left: 26.5%;
  
}
.box:nth-child(2) img{
  height: 280px;
  width: 310px;
  object-fit: cover;
  margin-top: 20px;

}
.box img{
  height: 280px;
  width: 310px;
  object-fit: cover;
  margin-top: 20px;

}
.box:nth-child(3) img{
  height: 280px;
  width: 310px;
  object-fit: cover;
  margin-top: 45px;

}

.box:nth-child(3){
  height: 430px;
  width: 350px;
  position: absolute;
  top: 51%;
  left: 51%;
  
}
.box:nth-child(4){
  height: 140px;
  width: 350px;
  position: absolute;
  display: flex;
  gap: 60px;
  top: 51%;
  left: 75.5%;
  
}
.box:nth-child(4) img{
height: 100px;
width: 100px;
object-fit: cover;
}
.box{
  padding: 20px;
}
.box h3{
  font-weight: 900;
  font-size: 20px;
}
#hero{
  height: 80%;
  width: 100%;
  
  background-color: #E3E6E6;
}
::-webkit-scrollbar{
  display: none;
}
